Django==2.0.6
django-crispy-forms==1.7.2
django-debug-toolbar==1.9.1
django-filebrowser-no-grappelli==3.7.4
django-tinymce==2.7.0
gunicorn==19.9.0
Pillow==5.2.0
pytz==2018.5
six==1.11.0
sqlparse==0.2.4
transliterate==1.10.1
